<h1> All Students </h1>
<button><%= link_to 'Add Student', new_person_path %></button>
<br />
<hr />
<% @people.each do |person| %>
  <h2><%= person.full_name %></h2>
  <p><%= person.contact_info %>
  <button><%= link_to 'Open Record', person_path(person) %></button>
  <button><%= link_to 'Edit', edit_person_path(person) %></button>
<% end %>
<br />
<hr />
<button><%= link_to 'Add Student', new_person_path %></button>