<h1>New Payment</h1>
<%= form_for @payment do |f| %>
  <%= f.label :payment_type %>
  <%= f.text_field :payment_type %>

  <%= f.label :amount %>
  <%= f.text_field :amount %>

<br />
  <%= f.label :date %>
  <%= f.text_field :date %>

<br />
  <%= f.submit %>
  <%# <button><%= link_to "All Payments" lesson_payments_path %></button>
  <%# <button><%= link_to 'Cancel', person_path(person) %></button> 
<% end %>